﻿@{
    ViewData["Title"] = "Index"; 
}

<h1>Index de ma zone membre</h1>

<a href="/Home/Index">Home page</a>
<a href="/Member/Home/Logout">Logout</a>

<a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-area="">Home</a>
<a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-area="Admin">Admin Home</a>


