﻿@* commentaire *@
@{ 
    // code c#
    int nb = 42;
    bool connected = false;
    List<string> list = new List<string>
    {
        "Sel", "Poivre", "Sucre"
    };
    ViewData["Title"] = "Demo";
    // le view bag est une alternative au ViewData
    ViewBag.MyCustomProperty = "quelque chose";
}

<h1>My title</h1>
<p>My paragraphe</p>
<p>My variable : @nb</p>

@* structure conditionnelle *@
@if (connected)
{
    <p>Vous êtes connecté</p>
}
else 
{
    <p>Vous n'êtes pas encore connecté</p>
}
@* boucle *@
<ul>
@foreach(string value in list)
{
    <li>@value</li>   
}
</ul>

@section Scripts {
    <script>
        // script que ne fait rien du tout
    </script>
}