﻿body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 0 30px;
    height: 75px;
    border-bottom: 1px solid #eee;
    width: 100%;
    background-color: #14213d;
    color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#content {
    width: 100%;
    flex: 1;
    z-index: 0;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid #eee;
    background-color: #14213d;
    font-weight: bolder;
    color: white;
}

#menu {
    min-height: 100%;
    width: 300px;
    border-right: 1px solid #eee;
    background-color: #14213d;
    transition: all .3s ease;
}

#menu.hidden{
    margin-left: -300px;
}

main {
    flex: 1;
    min-height: 100%;
    padding: 10px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    color: #fca311;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu ul > li {
    height: 50px;
    border-bottom: 1px solid #eee;
}

#menu a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

#menu a:hover {
    text-decoration: none;
    background-color: #fca311;
    color: #14213d;
}

.menu-icon {
    margin: 0 15px;
}