﻿@model IEnumerable<SkillModel>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (SkillModel item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                <a asp-controller="Skill"
                   asp-action="Update"
                   asp-route-id="@item.Id">Modifier</a>

                <a href="/Skill/Update/@item.Id">Modifier</a>

                <a asp-controller="Skill" 
                   asp-action="Delete" 
                   asp-route-id="@item.Id"
                   class="delete-link">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        // $("") récupérer des éléments grace à un selecteur css
        // .on('event', cb) ajoute un evenement à des éléments 
        // et execute la function cb lorsque l'évévenement est déclenché
        $(".delete-link").on("click", e => {
            // ouvre une boite de dialoque et retourne le resultat
            let ok = confirm("Etes-vous sûr de vouloir ...");
            if (!ok) {
                // annule le comportement habituel d'un bouton ou d'un lien
                e.preventDefault();
            }
        });
    </script>
}
