﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Techno.ASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <header>
        <div class="buttons">
            <i id="menu-button" class="fa fa-bars clickable"></i>
        </div>
        <h1>
            Member Zone - @SessionUtils.ConnectedUser.LastName
        </h1>
        <div class="buttons">
            <a><i class="fa fa-power-off"></i></a>
        </div>
    </header>
    <div id="content" class="d-flex">
        <aside id="menu">
            <nav>
                <ul>
                    <li><a asp-action="Index" asp-area="" asp-controller="Home">Home page</a></li>
                    <li><a asp-controller="Mon Profil" asp-action="Index"><i class="menu-icon fa fa-star"></i> Mon Profil</a></li>
                </ul>
            </nav>
        </aside>
        <main role="main" class="pb-3 container-fluid">
            @RenderBody()
        </main>
    </div>
    <footer>
        &copy; 2021 - TechnofuturTIC
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData["success"] != null)
    {
        // toast vert
        <script>
            toastr.success('@TempData["success"]');
        </script>
    }
    else if (TempData["error"] != null)
    {
        // toast rouge
        <script>
             toastr.error('@TempData["error"]');
        </script>
    }
</body>
</html>
