﻿@model Techno.ASP.Models.Forms.ProfileForm

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProfileForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linkedin" class="control-label"></label>
                <input asp-for="Linkedin" class="form-control" />
                <span asp-validation-for="Linkedin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobbies" class="control-label"></label>
                <input asp-for="Hobbies" class="form-control" />
                <span asp-validation-for="Hobbies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Studies" class="control-label"></label>
                <input asp-for="Studies" class="form-control" />
                <span asp-validation-for="Studies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalExp" class="control-label"></label>
                <input asp-for="ProfessionalExp" class="form-control" />
                <span asp-validation-for="ProfessionalExp" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Published" /> @Html.DisplayNameFor(model => model.Published)
                </label>
            </div>
            <div class="form-group">
                <input type="hidden" value="@Model.UserId" name="UserId" />
            </div>

            <div class="form-group">
                <label asp-for="SectionId" class="control-label"></label>
                <select asp-for="SectionId" class="form-control">
                    <option value="-">Choisir une section</option>
                    @foreach (SectionModel s in Model.LesSections)
                    {
                        @:<option value="@s.Id">@s.Name</option>
                    }
                </select>
                <span asp-validation-for="SectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Votre picture</label>
                <input type="file" name="ImageFile" class="form-control-file" />
            </div>
            <!--Gestion des skills-->
            <div class="container">
                <h3>Vos skills</h3>
                @foreach (SkillModel item in Model.LesSkills)
                {
                    @:<div class="col-sm-5">
                        @:<input type="checkbox" name="ChoixSkill" value="@item.Id" /> @item.Name
                    @:</div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
