﻿@model IEnumerable<Techno.ASP.Models.SectionModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                <td>
                    <a asp-controller="Section"
                       asp-action="Update"
                       asp-route-id="@item.Id">Modifier</a>

                    <a asp-controller="Section"
                       asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="delete-link">Supprimer</a>
                </td>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        // $("") récupérer des éléments grace à un selecteur css
        // .on('event', cb) ajoute un evenement à des éléments
        // et execute la function cb lorsque l'évévenement est déclenché
        $(".delete-link").on("click", e => {
            // ouvre une boite de dialoque et retourne le resultat
            let ok = confirm("Etes-vous sûr de vouloir ...");
            if (!ok) {
                // annule le comportement habituel d'un bouton ou d'un lien
                e.preventDefault();
            }
        });
    </script>
}


