﻿@model Techno.ASP.Models.Forms.ContactForm

@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/contact.css"/>

<h1>Contact</h1>

<h4>ContactForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input class="form-control" type="email" data-val="true" data-val-email="The Votre adresse email (*) field is not a valid e-mail address." data-val-maxlength="The field Votre adresse email (*) must be a string or array type with a maximum length of &#x27;200&#x27;." data-val-maxlength-max="200" data-val-required="The Votre adresse email (*) field is required." id="Email" maxlength="200" name="Email" value="" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="submit" value="Envoyer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
