﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Techno.ASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <partial name="_menu" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData["success"] != null)
            {
                // message vert
                <div class="alert alert-success">
                    <p>@TempData["success"]</p>
                </div>
            }
            else if (TempData["error"] != null)
            {
                // message rouge
                <div class="alert alert-danger">
                    <p>@TempData["error"]</p>
                </div>
            }
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TechnofuturTIC - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData["success"] != null)
    {
        // toast vert
        <script>
            toastr.success('@TempData["success"]');
        </script>
    }
    else if (TempData["error"] != null)
    {
        // toast rouge
        <script>
             toastr.error('@TempData["error"]');
        </script>
    }
</body>
</html>
