﻿<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Techno.ASP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Demo" asp-action="Index">Demo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="AboutMe">A propos de moi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Skill" asp-action="Index">Admin</a>
                </li>
                @if (!SessionUtils.IsLogged)
                {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="User" asp-action="Create">Enregistrez-vous</a>
                </li>
                }
                else
                {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Security" asp-action="Login" >Connectez-vous</a>
                </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-area="Member">Zone Membre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>