﻿@model Techno.ASP.Models.Forms.LoginModel
@{ 
    string ReturnUrl = Context.Request.Query["ReturnUrl"];


}
 
<h4>Connectez-vous</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <input type="hidden" name="ReturnUrl" value="@ReturnUrl"/>
            <div class="form-group">
                <input type="submit" value="Connection" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 

